<button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">Latest Courses</button>
<div id="myModal" class="modal fade" role="dialog">
 <div class="modal-dialog">
 <div class="modal-body">
    <button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">Latest Courses</button>
    <div id="myModal" class="modal fade" role="dialog">
     <div class="modal-dialog">
     <div class="modal-body">