  
<form action="/addNewArtPiece" method="post">
    <label for="title" >Title</label>
    <input type="text" name="title" placeholder="Title" class="validate"  required=""  aria-required="true">
    <label for="artist">Artist</label>
    <input type="text" name="artist" placeholder="Artist" class="validate"  required=""  aria-required="true">
    <label for="price">Price</label> 
    <input type="number" name="price" placeholder="Price" class="validate"  required=""  aria-required="true"> 
    <label for="img">Link of Art Piece</label>
    <input type="text" name="img" placeholder="Link of Art Piece"> 
    <label for="seller" >Seller</label>
    <input type="text" name="seller" placeholder="Seller" class="validate"  required=""  aria-required="true">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form> 