<h2>Users Table</h2>
<table class="table">
 <thead>
 <tr>
<th>Name</th>
<th>Email</th>
<th>Zip Code</th>
 </tr>
 </thead>
 <tbody>
 <% users.forEach(user => { %>
 <tr>
<td><a href="<%= `/${user._id}` %>">
    <%= user.username %></td>
</a>
<td><%= user.email %></td>

 </tr>
 <% }); %>
 </tbody>
</table>