

<form action="/" method="post">
  <label for="firstName" >First Name</label>
  <input type="text" name="firstName" placeholder="First Name" class="validate"  required=""  aria-required="true">
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" placeholder=" Last Name" class="validate"  required=""  aria-required="true">
  <label for="email">Email</label> 
  <input type="email" name="email" placeholder="Email" class="validate"  required=""  aria-required="true"> 
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username" class="validate"  required=""  aria-required="true"> 
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password" class="validate"  required=""  aria-required="true"> 
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>