 <!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="user_name" type="text" class="validate">
            <label for="user_name">User Name</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
     
    </form>
  </div> -->

<form action="/" method="post">
  <label for="name">First Name</label>
  <input type="text" name="name" placeholder="First Name">
  <label for="name">Last Name</label>
  <input type="text" name="name" placeholder=" Last Name">
  <label for="email">Email</label> 
  <input type="email" name="email" placeholder="Email"> 
  <label for="name">Username</label>
  <input type="text" name="name" placeholder="Username"> 
  <input type="submit" name="submit">
</form>